<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
<!-- Header -->
<%- include('partials/header.ejs') %>

<!-- General site navigation -->
<%- include('partials/navigation.ejs') %>

<!-- Main content -->
<main>
    <section class="content">
        <h2>About Us</h2>
        <p>The Dodo Trade Center is a small website I created, originally for a school project. </p>
    </section>
</main>
<!-- Footer -->
<%- include('partials/footer.ejs') %>

</body>
</html>