<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
<!-- Header -->
<%- include('partials/header.ejs') %>

<!-- General site navigation -->
<%- include('partials/navigation.ejs') %>

<!-- Main content -->
<main>
    <section class="content">
        <h2>Contact Us</h2>
        <p>If you experience any issues with the our website or would like to give any feedback, please us contact
        us with the information provided below.</p>

        <h3>Email</h3>
        <p>cguy9@uncc.edu</p>
    </section>
</main>
<!-- Footer -->
<%- include('partials/footer.ejs') %>

</body>
</html>