<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
<!-- Header -->
<%- include('partials/header.ejs') %>

<!-- General site navigation -->
<%- include('partials/navigation.ejs') %>

<!-- Main content -->
<main>
    <section class="content">
        <h2>Welcome to the Dodo Trade Center</h2>
        <p>We are a place where villagers from the popular game, Animal Crossing New Horizons, can meet up with each
            other to exchange highly sought after items and show off their interior designer skills in our community
            hosted HHA tournaments!</p>
    </section>
</main>
<!-- Footer -->
<%- include('partials/footer.ejs') %>

</body>
</html>